.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


@keyframes loadMore {
  from {
    transform: scale(.5);
    opacity: .5;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
