.ad {
  &--feed {
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 4px;
    overflow: hidden;
    height: 400px;
    transition: transform .2s;
    position: relative;
    width: 380px;
    margin: .5rem;
    min-width: 300px;

    & .yandex-adaptive {
      max-height: 400px;
      width: 380px;
      max-width: 300px;
    }

    &::after {
      transform: rotate(-90deg);
      transform-origin: top right;
      content: 'Ads';
      position: absolute;
      top: 5px;
      left: -20px;
      font-size: .8rem;
    }

    @include respond(tab-land) {
      width: 350px;
      margin: .5rem;

      & .yandex-adaptive {
        max-width: 350px;
      }
    }
    @include respond(tab-port) {
      width: 500px;
      & .yandex-adaptive {
        max-width: 500px;
      }
      margin: .5rem 0;
    }
    @include respond(phone) {
      margin-bottom: .5em;
      width: 100%;
      & .yandex-adaptive {
        width: 100%;
      }
    }

    &:hover {
      transform: scale(1.01);
    }
  }

  &--side {
    text-align: center;
    position: relative;
    height: 100%;
    width: 300px;
    min-width: 300px;
    margin-bottom: 2rem;

    &.up {
      background-color: red;
    }

    &.fixed {
      position: fixed;
    }

    @include respond(tab-port) {
      width: 100%;
      &::before {
        font-size: 2rem;
      }
    }

    &::after {
      transform: rotate(-90deg);
      transform-origin: top right;
      content: 'Ads';
      position: absolute;
      top: 0;
      left: -40px;
      font-size: .8rem;

      @include respond(tab-port) {
        transform: rotate(0);
        top: -15px;
        left: 0;
      }
    }
  }

  &--top,
  &--bottom {
    min-width: 300px;
    width: 680px;
    box-shadow: 1px 1px 5px #ccc;

    & .yandex-adaptive {
      min-width: 300px;
      width: 680px;
      max-width: 680px;
    }
  }

  &--top,
  &--bottom,
  &--post-body, {
    min-width: 300px;
    min-height: 200px;
    margin: 3rem auto;
    content: 'ads';
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 5px #ccc;

    & .yandex-adaptive {
      min-width: 300px;
      min-height: 200px;
    }

    & img {
      text-align: center;
    }

    @include respond(tab-port) {
      width: 100%;
      margin: 2rem auto;
      &::before {
        font-size: 2rem;
      }
      & .yandex-adaptive {
        width: 100%;
      }
    }

    &::after {
      content: 'Ads';
      position: absolute;
      top: -18px;
      font-size: .8rem;
      left: 0;
    }
  }

  &--post-body::after {
    top: -23px;
  }

  &--top,
  &--bottom,
  &--post-body,
  &--feed {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
